html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #FFFFFF;
  margin-top: 60px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

button {
  width: 100%;
  border: 4px solid #1abc9c;
  background: #16a085;
  color: #FFFFFF;
  font-size: 32px;
  margin: 0.2em 0;
}
